<%= render 'home/header' %>
<div class="jumbotron">
<h1>Welcome in Ledek world!</h1>
<p>only to testing</p>
<%= link_to 'About Me' , home_about_path, class: 'btn btn-info btn-xs' %>
<%= link_to 'Home Page' , root_path, class: 'btn btn-danger btn-xs' %>
</div>
